$primary-color: #2c3234;
$secondary-color:#1795d4;
$text-color:white;
$font-stack: 'Segoe UI', sans-serif;
$product-bg: #fff;
$product-shadow: rgba(0, 0, 0, 0.1);
$product-primary: $secondary-color;
$product-color:$primary-color; 
